<!DOCTYPE html>
<html class="myfinancing-html">
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Car Geeks</title>
    {% load static %}
    <link rel = "icon" href="{% static 'images/titleicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="{% static 'styles/virtualcargeeksstyle.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
{% load humanize %}
<body class="myfinancing-body">
    <i class='bx bx-menu fixed-icon' id="sidebar-menu-icon-first"></i>
    <div class="dashboard-sidebar active">
        <div class="logo-content">
            <div class="logo">
                <img src="{%static 'images/logo11.png' %}" alt="Our company logo - Virtual Car Geeks">
            </div>
                <i class='bx bx-menu' id="sidebar-menu-icon"></i>
        </div>
            <ul class="dashboard-sidebar-list">
                <li>
                    <a href="{% url 'myfinancing' %}" class="dashboard-link">
                        <i class='bx bxs-folder-open'></i>
                        <span class="sidebar-list-names">My financing</span>
                    </a>
                    <span class="dashboard-tooltip">My Financing</span>
                </li>
                <li>
                    <a href="{% url 'myfinancingnewform' %}" class="dashboard-link">
                        <i class='bx bxs-file-plus'></i>
                        <span class="sidebar-list-names">New Form</span>
                    </a>
                    <span class="dashboard-tooltip">New Form</span>
                </li>
                <li>
                    <a href="{% url 'additionaldocuments' %}" class="active-list-link" class="dashboard-link">
                        <i class='bx bx-file' ></i>
                        <span class="sidebar-list-names">Additional Documents</span>
                    </a>
                    <span class="dashboard-tooltip">Additional Documents</span>
                </li>
            </ul>
            <div class="profile-content">
                <div class="profile">
                    <div class="profile-details">
                        <div class="profile-name">
                            Welcome, {{ request.user.first_name }}
                        </div>
                        <div class="dashboard-logout-button">
                            <span id="sidebar-logout">
                                <a class="dashboard-logout" href="{% url 'logout' %}"><i class='bx bx-log-out' id="dashboard-logout"></i>
                                Logout</a>
                            </span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="additional-documents-home">
        <h4>If required please upload additional documents.</h4>
        <div class="additional-documents-container">
            <form class="additional-documents-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="additional-documents-input-container">
                    <div class="file-upload-style">
                        <label for="tax_return" class="fileform-label">{{ form.tax_return.label }}</label>
                        <div class="inner-file">
                            {{ form.tax_return }}
                            {% if form.tax_return.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tax_return.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="file-upload-style">
                        <label for="paystub" class="fileform-label">{{ form.paystub.label }}</label>
                        <div class="inner-file">
                            {{ form.paystub }}
                            {% if form.paystub.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.paystub.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="file-upload-style">
                        <label for="additional_documents" class="fileform-label">{{ form.additional_documents.label }}</label>
                        <div class="inner-file">
                            {{ form.additional_documents }}
                            {% if form.additional_documents.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.additional_documents.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="additional-documents-button-container">
                    <button class="additional-documents-button" type="submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
    </body>
    <script type="text/javascript" src="{% static 'script/dashboardjavascript.js' %}"></script>
    </html>
