<!DOCTYPE html>
<html class="newform-html">
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Car Geeks</title>
    {% load static %}
    <link rel = "icon" href="{% static 'images/titleicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="{% static 'styles/virtualcargeeksstyle.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="newform-main">
        <i class='bx bx-menu' id="sidebar-menu-icon-first"></i>
    <div class="dashboard-sidebar active" id="broker-customer">
        <div class="logo-content">
            <div class="logo">
                <img src="{%static 'images/logo11.png' %}" alt="Our company logo - Virtual Car Geeks">
            </div>
                <i class='bx bx-menu' id="sidebar-menu-icon"></i>
        </div>
            <ul class="dashboard-sidebar-list">
                <li>
                    <a href="{% url 'brokerpendingdeals' %}" class="dashboard-link">
                        <i class='bx bx-file' ></i>
                        <span class="sidebar-list-names">Pending Deals</span>
                    </a>
                    <span class="dashboard-tooltip">Pending Deals</span>
                </li>
                <li>
                    <a href="{% url 'brokernewform' %}" class="dashboard-link">
                        <i class='bx bxs-file-plus'></i>
                        <span class="sidebar-list-names">New Form</span>
                    </a>
                    <span class="dashboard-tooltip">New Form</span>
                </li>
                <li>
                    <a href="{% url 'brokermydeals' %}" class="dashboard-link">
                        <i class='bx bx-folder'></i>
                        <span class="sidebar-list-names">My Deals</span>
                    </a>
                    <span class="dashboard-tooltip">My Deals</span>
                </li>
                <li>
                    <a href="{% url 'brokercommunication' %}" class="dashboard-link">
                        <i class='bx bx-message-dots' ></i>
                        <span class="sidebar-list-names">Communication</span>
                    </a>
                    <span class="dashboard-tooltip">Communication</span>
                </li>
                <li>
                    <a href="#" class="dashboard-link">
                        <i class='bx bx-user' ></i>
                        <span class="sidebar-list-names">User</span>
                    </a>
                    <span class="dashboard-tooltip">User</span>
                </li> 
            </ul>
            <div class="profile-content">
                <div class="profile">
                    <div class="profile-details">
                        <div class="profile-name">
                            Welcome, {{ user.dealer_name }}
                            
                        </div>
                        <div class="dashboard-logout-button">
                            <a class="dashboard-logout" href="{% url 'logout' %}"><i class='bx bx-log-out' id="dashboard-logout"></i>
                                Logout</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="home-content">
        <div class="newform-body">
           <!-- <ul class="wizard-step-active">
                <li class="wizard-list-item">
                    <h5>Personal Information</h5>
                </li>
                <li class="wizard-list-item">
                    <h5>Employment Information</h5>
                </li>
                <li class="wizard-list-item">
                    <h5>Vehicle Information</h5>
                </li>
                <li class="wizard-list-item">
                    <h5>Trade-in Information</h5>
                </li>
                <li class="wizard-list-item">
                    <h5>Documemts</h5>
                </li>
            </ul>
            -->
            <!--
            <div class="wizard-step-active">
                <div class="wizard-newform-personal">
                    <h5>Personal Information</h5>
                </div>
                <div class="wizard-newform-employment">
                    <h5>Employment Information</h5>
                </div>
                <div class="wizard-vehicle-information">
                    <h5>Vehicle Information</h5>
                </div>
                <div class="wizard-tradein-information">
                    <h5>Trade-in Information</h5>
                </div>
                <div class="wizard-documents">
                    <h5>Documents</h5>
                </div>
            </div>
            -->
            <div class="newform-wizard">
                {% load i18n %}

                {% block head %}
                {{ wizard.form.media }}
                {% endblock %}
                
                {% block content %}
                <div class="steps">
                    {% if wizard.steps.current == '0' %}
                        <h4>Vehicle Information</h4>
                        <h5>Step 1 of 3</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 1%; background-color: #F76C6C; color: #F76C6C;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                    {% if wizard.steps.current == '1' %}
                        <h4>Trade-in Information</h4>
                        <h5>Step 2 of 3</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 33.33%; background-color: #F76C6C; color: #F76C6C;" aria-valuenow="33.33" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                    {% if wizard.steps.current == '2' %}
                        <h4>Documents</h4>
                        <h5>Step 3 of 3</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 66.66%; background-color: #F76C6C; color: #F76C6C;" aria-valuenow="66.66" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                </div>
                <form class="newform-form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {{ wizard.form.management_form }}
                        {% if wizard.steps.current == '0' %}
                        <div class="client-form-group">
                            <label for="vinNumber" class="newform-label">{{ form.vinNumber.label }}</label>
                            {{ form.vinNumber }}
                            {% if form.vinNumber.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.vinNumber.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="stockNumber" class="newform-label">{{ form.stockNumber.label }}</label>
                            {{ form.stockNumber }}
                            {% if form.stockNumber.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.stockNumber.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="vehiclePrice" class="newform-label">{{ form.vehiclePrice.label }}</label>
                            {{ form.vehiclePrice }}
                            {% if form.vehiclePrice.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.vehiclePrice.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="down_payment" class="newform-label">{{ form.down_payment.label }}</label>
                            {{ form.down_payment }}
                            {% if form.down_payment.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.down_payment.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="vehicleMileage" class="newform-label">{{ form.vehicleMileage.label }}</label>
                            {{ form.vehicleMileage }}
                            {% if form.vehicleMileage.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.vehicleMileage.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="make" class="newform-label">{{ form.make.label }}</label>
                            {{ form.make }}
                            {% if form.make.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.make.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="model" class="newform-label">{{ form.model.label }}</label>
                            {{ form.model }}
                            {% if form.model.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.model.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="trim" class="newform-label">{{ form.trim.label }}</label>
                            {{ form.trim }}
                            {% if form.trim.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.trim.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="year" class="newform-label">{{ form.year.label }}</label>
                            {{ form.year }}
                            {% if form.year.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.year.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="color" class="newform-label">{{ form.color.label }}</label>
                            {{ form.color }}
                            {% if form.color.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.color.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if wizard.steps.current == '1' %}
                        <div class="client-form-group">
                            <div class="enable-div">
                                <label for="enable_form" class="enable-form-label">{{ form.enable_form.label }}</label>
                                {{ form.enable_form }}
                            </div>
                        </div>
                        <div class="client-form-group">
                            <label for="tradeInVin" class="newform-label">{{ form.tradeInVin.label }}</label>
                            {{ form.tradeInVin }}
                            {% if form.tradeInVin.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tradeInVin.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="tradeInPrice" class="newform-label">{{ form.tradeInPrice.label }}</label>
                            {{ form.tradeInPrice }}
                            {% if form.tradeInPrice.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tradeInPrice.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="tradeInMileage" class="newform-label">{{ form.tradeInMileage.label }}</label>
                            {{ form.tradeInMileage }}
                            {% if form.tradeInMileage.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tradeInMileage.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="tradeInMake" class="newform-label">{{ form.tradeInMake.label }}</label>
                            {{ form.tradeInMake }}
                            {% if form.tradeInMake.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tradeInMake.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="tradeInModel" class="newform-label">{{ form.tradeInModel.label }}</label>
                            {{ form.tradeInModel }}
                            {% if form.tradeInModel.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tradeInModel.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="tradeInTrim" class="newform-label">{{ form.tradeInTrim.label }}</label>
                            {{ form.tradeInTrim }}
                            {% if form.tradeInTrim.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tradeInTrim.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="tradeInYear" class="newform-label">{{ form.tradeInYear.label }}</label>
                            {{ form.tradeInYear }}
                            {% if form.tradeInYear.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tradeInYear.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="client-form-group">
                            <label for="tradeInColor" class="newform-label">{{ form.tradeInColor.label }}</label>
                            {{ form.tradeInColor }}
                            {% if form.tradeInColor.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.tradeInColor.errors|join:" " }}
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if wizard.steps.current == '2' %}
                        <div class="file-input-container">
                            <div class="file-upload-style">
                                <label for="vehicle_front" class="fileform-label">{{ form.vehicleFront.label }}</label>
                                <div class="inner-file">
                                    {{ form.vehicleFront }}
                                    {% if form.vehicleFront.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.vehicleFront.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="file-upload-style">
                                <label for="vehicle_side" class="fileform-label">{{ form.vehicleSide.label }}</label>
                                <div class="inner-file">
                                    {{ form.vehicleSide }}
                                    {% if form.vehicleSide.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.vehicleSide.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="file-upload-style">
                                <label for="vehicle_back" class="fileform-label">{{ form.vehicleBack.label }}</label>
                                <div class="inner-file">
                                    {{ form.vehicleBack }}
                                    {% if form.vehicleBack.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.vehicleBack.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="file-upload-style">
                                <label for="vehicle_odometer" class="fileform-label">{{ form.vehicleOdometer.label }}</label>
                                <div class="inner-file">
                                    {{ form.vehicleOdometer }}
                                    {% if form.vehicleOdometer.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.vehicleOdometer.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="file-upload-style">
                                <label for="vehicle_interior" class="fileform-label">{{ form.vehicleInterior.label }}</label>
                                <div class="inner-file">
                                    {{ form.vehicleInterior }}
                                    {% if form.vehicleInterior.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.vehicleInterior.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="file-upload-style">
                                <label for="example_document1" class="fileform-label">{{ form.exampleDocument1.label }}</label>
                                <div class="inner-file">
                                    {{ form.exampleDocument1 }}
                                    {% if form.exampleDocument1.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.exampleDocument1.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="file-upload-style">
                                <label for="example_document2" class="fileform-label">{{ form.exampleDocument2.label }}</label>
                                <div class="inner-file">
                                    {{ form.exampleDocument2 }}
                                    {% if form.exampleDocument2.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.exampleDocument2.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <!--
                        {% for field in wizard.form %}
                            <div class="client-form-group">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        -->

                        {% if wizard.steps.prev %}
                        {% if wizard.steps.current == '1' %}
                        <div class="wizard-buttons-container">
                            <div class="wizard-prev-button">
                                <button style="padding: 15px 25px" class="prev-but" formnovalidate="formnovalidate" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
                            </div>
                            <div class="wizard-next-button">
                                <input style="padding: 15px 25px" class="next-but" type="submit" value="{% trans "Next Step" %}"/>
                            </div>
                        </div>
                        {% endif %}
                        {% if wizard.steps.current == '2' %}
                        <div class="wizard-buttons-container">
                            <div class="wizard-prev-button">
                                <button style="padding: 15px 25px" class="prev-but" formnovalidate="formnovalidate" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
                            </div>
                            <div class="wizard-next-button">
                                <input style="padding: 15px 25px" type="submit" class="submit-but" value="{% trans "Submit" %}"/>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% if wizard.steps.next %}
                        {% if wizard.steps.current == '0' %}
                        <div class="wizard-buttons-container">
                            <div class="hidden-form-button">
                                <button>Hidden</button>
                            </div>
                            <div class="wizard-next-button">
                                <input style="padding: 15px 25px" class="next-but" type="submit" value="{% trans "Next Step" %}"/>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        </form>
                        {% endblock %}
            </div>
        </div>
    </div>
</body>
<script>
    function enableFields() {
        var checkbox = document.getElementById("id_enable_form");
        var fields = document.getElementsByClassName("form-control");
        for (var i = 0; i < fields.length; i++) {
            fields[i].disabled = !checkbox.checked;
        }
    }
    
    // Disable form fields on page load
    window.onload = function() {
        enableFields();
    };
    
    // Enable/disable form fields when checkbox is clicked
    document.getElementById("id_enable_form").onchange = function() {
        enableFields();
    };
</script>
<script>function reloadOnSubmit() {
    location.reload();
    }
</script>
<script type="text/javascript" src="{% static 'script/dashboardjavascript.js' %}"></script>
</html>