<!DOCTYPE html>
<html class="dashboard-html">
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Car Geeks</title>
    {% load static %}
    <link rel = "icon" href="{% static 'images/titleicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="{% static 'styles/virtualcargeeksstyle.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
</head>
<body class="dashboard-body">
    <div class="dashboard-sidebar active">
        <div class="logo-content">
            <div class="logo">
                <img src="{%static 'images/vlogo3.png' %}" alt="Our company logo - Virtual Car Geeks">
            </div>
                <i class='bx bx-menu' id="sidebar-menu-icon"></i>
        </div>
            <ul class="dashboard-sidebar-list">
                <li>
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search-alt-2' id="dashboard-search-icon"></i>
                </li>
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class='bx bxs-dashboard' ></i>
                        <span class="sidebar-list-names">Dashboard</span>
                    </a>
                    <span class="dashboard-tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="{% url 'newform' %}">
                        <i class='bx bx-file' ></i>
                        <span class="sidebar-list-names">New Form</span>
                    </a>
                    <span class="dashboard-tooltip">New Form</span>
                </li>
                <li>
                    <a href="{% url 'mydeals' %}">
                        <i class='bx bx-folder'></i>
                        <span class="sidebar-list-names">My Deals</span>
                    </a>
                    <span class="dashboard-tooltip">My Deals</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-message-dots' ></i>
                        <span class="sidebar-list-names">Communication</span>
                    </a>
                    <span class="dashboard-tooltip">Communication</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-user' ></i>
                        <span class="sidebar-list-names">User</span>
                    </a>
                    <span class="dashboard-tooltip">User</span>
                </li>
            </ul>
            <div class="profile-content">
                <div class="profile">
                    <div class="profile-details">
                        <div class="profile-name">
                            Welcome, {{ user.username }}
                            
                        </div>
                        <div class="dashboard-logout-button">
                            <a href="#">
                                <i class='bx bx-log-out' id="dashboard-logout"></i>
                                <span class="sidebar-list-names" id="sidebar-logout">Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="home-content">
        <div class="newform-progress-bar">
            <div class="newform-body">
                <div class="vehicle-infomration-header">
                    <h2>Vehicle Information</h2>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="newform-input-container">
                        <label for="vinNumber" class="newform-label">{{form.vinNumber.label}}</label>
                        {{form.vinNumber}}
                    </div>
                    <div class="newform-input-container">
                        <label for="stockNumber" class="newform-label">{{form.stockNumber.label}}</label>
                        {{form.stockNumber}}
                    </div>
                    <div class="newform-input-container">
                        <label for="vehiclePrice" class="newform-label">{{form.vehiclePrice.label}}</label>
                        {{form.vehiclePrice}}
                        <i class='bx bx-dollar'></i>
                    </div>
                    <div class="newform-input-container">
                        <label for="tradeInPrice" class="newform-label">{{form.tradeInPrice.label}}</label>
                        {{form.tradeInPrice}}
                        <i class='bx bx-dollar'></i>
                    </div>
                    <div class="newform-input-container">
                        <label for="downPayment" class="newform-label">{{form.downPayment.label}}</label>
                        {{form.downPayment}}
                        <i class='bx bx-dollar'></i>
                    </div>
                    <div class="newform-input-container">
                        <label for="vehicleMileage" class="newform-label">{{form.vehicleMileage.label}}</label>
                        {{form.vehicleMileage}}
                    </div>
                    <div class="newform-input-container">
                        <label for="make" class="newform-label">{{form.make.label}}</label>
                        {{form.make}}
                    </div>
                    <div class="newform-input-container">
                        <label for="model" class="newform-label">{{form.model.label}}</label>
                        {{form.model}} 
                    </div>
                    <div class="newform-input-container">
                        <label for="trim" class="newform-label">{{form.trim.label}}</label>
                        {{form.trim}}
                    </div>
                    <div class="newform-input-container">
                        <label for="year" class="newform-label">{{form.year.label}}</label>
                        {{form.year}}
                    </div>
                    <div class="newform-input-container">
                        <label for="color" class="newform-label">{{form.color.label}}</label>
                        {{form.color}}
                    </div>
                    <div class="newform-input-container">
                        <label for="fuelType" class="newform-label">{{form.fuelType.label}}</label>
                        {{form.fuelType}}
                    </div>
                    <div class="newform-button">
                        <input type="submit" value="Next">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'script/dashboardjavascript.js' %}"></script>
</html>