<html>
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Car Geeks</title>
    {% load static %}
    <link rel = "icon" href="{% static 'images/titleicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="{% static 'styles/virtualcargeeksstyle.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="password-reset-container">
    <h3>Password reset sent</h3>
    <p>An email has been sent to your registered email address with instructions on how to reset your password. Please check your inbox and follow the steps provided to regain access to your account. If you do not see the email in your inbox, please check your spam or junk folder.</p>
</div>
</body>
</html>