<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Car Geeks</title>
    {% load static %}
    <link rel = "icon" href="{% static 'images/titleicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="{% static 'styles/virtualcargeeksstyle.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body class="client-form-body">
        <div class="client-container">
            <div class="steps">
                <h4>Personal Information</h4>
                <h5>Step 1 of 2</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 1%; background-color: #F76C6C; color: #F76C6C;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <form class="client-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="client-form-group">
                    <label for="first_name" class="client-label">{{ form.first_name.label }}</label> {{ form.first_name }}
                </div>
                <div class="client-form-group">
                    <label for="last_name" class="client-label">{{ form.last_name.label }}</label> {{ form.last_name }}
                </div>
                <div class="client-form-group">
                    <label for="date_of_birth" class="client-label">{{ form.date_of_birth.label }}</label> {{ form.date_of_birth }}
                </div>
                <div class="client-form-group">
                    <label for="phone_number" class="client-label">{{ form.phone_number.label }}</label> {{ form.phone_number }}
                </div>
                <div class="client-form-group">
                    <label for="email" class="client-label">{{ form.email.label }}</label> {{ form.email }}
                </div>
                <div class="client-form-group">
                    <label for="address" class="client-label">{{ form.address.label }}</label> {{ form.address }}
                </div>
                <div class="client-form-group">
                    <label for="address_line_2" class="client-label">{{ form.address_line_2.label }}</label> {{ form.address_line_2 }}
                </div>
                <div class="client-form-group">
                    <label for="province" class="client-label">{{ form.province.label }}</label> {{ form.province }}
                </div>
                <div class="client-form-group">
                    <label for="city" class="client-label">{{ form.city.label }}</label> {{ form.city }}
                </div>
                <div class="client-form-group">
                    <label for="postal_code" class="client-label">{{ form.postal_code.label }}</label> {{ form.postal_code }}
                </div>
                <div class="client-form-group">
                    <label for="social_insurance_number" class="client-label">{{ form.social_insurance_number.label }}</label>{{ form.social_insurance_number }}
                </div>
                <div class="client-form-group">
                    <label for="drivers_license" class="client-label">{{ form.drivers_license.label }}</label> 
                    {{ form.drivers_license }}
                    {% if uploaded_file %}
                        <p>{{ uploaded_file.name }}</p>
                    {% endif %}
                    {{ form.drivers_license.errors }}
                </div>
                <div class="wizard-next-button">
                    <input style="padding: 15px 25px" class="next-but" type="submit" value="Next">
                </div>
            </form>
        </div>
</body>
</html>