html { 
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    background: white;
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

header .nav-container .main-logo img {
    margin-top: 0.6em;
    margin-left: 1em;
}

header .nav-container .main-logo img:hover {
    opacity: 0.8;
}

nav {
    margin: 0 auto;
}

nav .primary-navigation {
    display: flex;
    list-style: none;
    gap: 3em;
    margin: 0 auto;
    padding: 0;
}

nav .primary-navigation li a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

nav .primary-navigation li a:hover {
    color: #F76C6C;
}

.mobile-nav-toggle {
    display: none;
}

.sign-in-button {
    background: #F76C6C;
    border-radius: 999px;
    box-shadow: #F76C6C 0 10px 20px -10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.logout-button {
    background: #F76C6C;
    border-radius: 999px;
    box-shadow: #F76C6C 0 10px 20px -10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

#list-button {
    display: none;
}

@media (max-width: 66em) {
    header .nav-container {
        justify-content: flex-start;
    }
    header .nav-container .main-logo {
        margin-top: 0;
    }

    nav .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1em;
        background-color: white;
        margin-top: 0;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    nav .primary-navigation li a {
        color: #3a3134;
        font-weight: 700;
        font-size: 1.2rem;
    }

    #first-primary-list {
        margin-top: 5em;
    }

    #list-button {
        display: block;
    }

    #non-list-button {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: transparent;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 28.125em) and (max-width: 43.75em) {
    nav .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 50%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1em;
        background-color: white;
        margin-top: 0;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
}

@media (min-width: 43.75em) and (max-width: 66em) {
    nav .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 60%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1em;
        background-color: white;
        margin-top: 0;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
}

.main-body {
    margin-top: 6em;
    position: relative;
}

.main-body .image-n-box {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.main-body .image-n-box picture img {
    display: block;
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-body .image-n-box .text-over-picture-one {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid #EBE8E7;
}

.main-body .image-n-box .text-over-picture-one h4 {
    text-align: center;
    padding-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: black;
}

.main-body .image-n-box .text-over-picture-one a{
    text-decoration: none;
    color: #F76C6C;
    color: white;
}

.main-body .image-n-box .text-over-picture-one .apply-now-button {
    display: block;
    margin: 0 auto;
    background: #F76C6C;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border: 2px solid #F76C6C;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 2em;
}

button:hover {
    opacity: 0.8;
}

@media (min-width: 1000px) {
    .main-body .image-n-box .text-over-picture-one {
        position: absolute;
        top: 75%;
        left: 92%;
        transform: translate(-75%, -92%);
        background: rgba(255, 255, 255);
        background:rgba(255,255,255, 1);
        padding: 3em 2em 5em 2em;
        border-radius: 5px;
        width: 30%;
    }
    .main-body .image-n-box .text-over-picture-one .apply-now-button {
        margin-bottom: 0;
    }
}

.icons-container {
    background-color: #F7F7F7;
}

.icons-n-descriptions {
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    background-color: #F7F7F7;
}

.icons-n-descriptions * {
    padding: 0 1.5em;
}

.icons-n-descriptions img {
    display: block;
    margin: 0 auto;
    padding-top: 2em;
}

.icons-n-descriptions p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

@media (min-width: 42.1875em) {
    .icons-n-descriptions {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 62.5em) {
    .icons-n-descriptions {
        margin-top: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        justify-content: center;
        row-gap: 3em;
        column-gap: 3em;
    }
    .icons-n-descriptions * {
        padding: 0 .7em;
    }
}


.calculator {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3em;
}

.calculator-title {
    max-width: 1400px;
    margin: 4em auto;
}

.calculator-title h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.calculator-title h2 span {
    border-bottom: 4px solid #F76C6C;
}

.calculator .user-input-calc {
    border-bottom: 4px solid gray;
    width: 90%;
    padding-bottom: 3em;
}

.calculator .result-reporter-calc {
    width: 90%;
}

@media (min-width: 62.5em) {
    .calculator .user-input-calc {
        width: 40%;
        border-right: 4px solid gray;
        border-bottom: 0;
    }
    .calculator .result-reporter-calc {
        width: 40%;
    }
    .result-reporter-calc {
        margin-top: 0;
    }
}

.calculator h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.calculator label h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.vehicle-cost {
    width: 60%;
    margin-left: 2em;
    position: relative;
}

.calculator input {
    padding: 0.5em;
    width: 95%;
}

.calculator input[type="number"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}

.calculator input[type="number"]:focus {
    outline: none;
    border-bottom: 3px solid #F76C6C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input {
    text-align: right;
}

.calculator .fa-dollar-sign {
    position: absolute;
    top: 75px;
    left: 10px;
    color: black;
    opacity: 0.7;
}

.calculator-flex {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.vehicle-cost {
    width: 60%;
    margin-left: 2em;
    position: relative;
}

.down-payment {
    width: 60%;
    margin-left: 2em;
    position: relative;
}

.trade-in {
    width: 60%;
    margin-left: 2em;
    position: relative;
}

.interest-rate {
    width: 60%;
    margin-left: 2em;
    position: relative;
}

.interest-rate input {
    text-align: left;
}

.calculator .fa-percent {
    position: absolute;
    color: black;
    right: 7px;
    top: 75px;
    opacity: 0.7;
}

.loan-duration {
    width: 60%;
    margin-left: 2em;
    position: relative;
}

.calculator .result-reporter-calc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator .result-reporter-calc h4 {
    text-align: center;
    margin-bottom: 0;
}

.calculator .result-reporter-calc p {
    text-align: center;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #F76C6C;
    margin-top: 0;
}

.calculator .result-reporter-calc button {
    display: block;
    margin: 0 auto;
    background: #F76C6C;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border: 2px solid #F76C6C;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 15px;
    font-weight: 600;
    color: white;
}

.calculator .result-reporter-calc a {
    text-decoration: none;
}

.misc {
    margin-top: 10em;
}

.main-body-finance {
    max-width: 1400px;
}

.calculator-flex input {
    border: none;
    border-bottom: 2px solid black;
}

/* Sign-in page 
*/

.dealer-html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: scroll;
}

.sign-in-header .main-logo {
    text-align: center;
    margin: 0 auto;
}

.log-in {
    max-width: 1400px;
    margin: 0 auto;
}

.log-in-container {
    width: 70%;
    background-color: white;
    margin: 10em auto 0 auto;
}

.log-in-container h2 {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    color: black;
}

.log-in-container form {
    width: 100%;
    margin: 1em auto;
    font-size: 1.2rem;
}

.log-in-container form label {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 1em;
    display: inline;
}

.log-in-container form input {
    text-align: left;
    padding: 0.6em 0.7em;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1em;
    border: 0.0625rem solid #8C9196;
    font-family: 'Open Sans', sans-serif;
}

.log-in-container form input:focus {
    outline: none;
    border: 2px solid #F76C6C;
}

.log-in-container .remember-me label {
    font-weight: 500;
    cursor: pointer;
}

.log-in-container .remember-me {
    position: relative;
}

.log-in-container .remember-me input {
    display: inline-block;
    width: auto;
}

.log-in-container .remember-me input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    top: 3px;
    background-color: #F76C6C;
}

.log-in-container form .log-in-button {
    margin-top: 1.5em;
    text-align: center;
}

.log-in-container input[type="submit"] {
    background: #F76C6C;
    border-radius: 30px;
    box-shadow: #F76C6C 0 10px 20px -10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    padding: 0.5em 7em;
}

.log-in-container input[type="submit"]:hover {
    opacity: 0.9;
}

.log-in-container form a {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.log-in-container form p {
    margin-top: 0.7em;
}

.log-in-container form a:hover {
    color: #9E0A9A;
    text-decoration: underline;
}

.log-in-container form .django-flash-message {
    width: 100%;
}

.log-in-container form .django-flash-message .messages {
    text-align: left;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.log-in-container form .django-flash-message .messages li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: red;
    font-weight: 500;
    font-size: 1rem;
}

@media (min-width: 31.875em) {
    .log-in-container {
        margin: 13em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .log-in-container form {
        width: 70%;
        margin: 0;
    }
}

@media (min-width: 62.5em) {
    .log-in-container {
        margin: 13em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    .log-in-container form {
        width: 70%;
        margin: 0;
    }
}

/* Register Style */

.register-html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: scroll;
}

.register-container {
    max-width: 1400px;
    margin: 8em auto 0 auto;
}

.register-container .register-image {
    display: none;
    margin-top: 3em;
}

.register-form {
    display: block;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin: 0 auto;
}

.register-container .register-form h2 {
    color: #F76C6C;
    font-size: 2rem;
    text-align: center;
}

.register-container form {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    gap: 1em;
}

.register-container form .labelclass {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: left;
}

.register-container form input {
    text-align: left;
    padding: 0.7em 0;
    border-radius: 4px;
    width: 99%;
    text-indent: 0.8em;
    margin-bottom: 1em;
    border: 0.0625rem solid #8C9196;
    font-family: 'Open Sans', sans-serif;
}

.register-container form input:focus {
    outline: none;
    border: 2px solid #F76C6C;
}

.register-container form .register-button {
    width: 100%;
    text-align: center;
}

.register-container input[type="submit"] {
    background: #F76C6C;
    border-radius: 30px;
    box-shadow: #F76C6C 0 10px 20px -10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    padding: 0.7em 4.3em 0.7em 3.5em;
}

.register-container form .register-input-container {
    position: relative;
}

.register-container form .register-input-container .register-flash-message .register-messages li {
    text-align: left;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: red;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    top: 3em;
}

#username-register-error {
    margin-left: -2.4em;
}

.register-container form .register-input-container .register-flash-message {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 3em;
    color: red;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 37.5em) {
    .register-container {
        width: 100%
    }
    .register-container .register-form form {
        width: 50%;
    }
    .register-container {
        margin: 15em auto;
    }
}

@media (min-width: 85em) {
    .register-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .register-container .register-image {
        display: block;
    }
    .register-container .register-form {
        width: 100%;
    }
    .register-container .register-form form {
        width: 70%
    }
}

/* User Interface / Dashboard Styling */

.dashboard-html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-body {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.dashboard-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background: #1d1b31;
    padding: 0.4em 1em;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.4s ease;
    z-index: 9999;
}

.dashboard-sidebar.active {
    width: 310px;
    z-index: 9999;
    transition: all 0.4s ease;
}

.dashboard-sidebar .logo-content .logo {
    display: flex;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.dashboard-sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

.dashboard-sidebar .logo-content #sidebar-menu-icon {
    position: absolute;
    color: #fff;
    left: 58%;
    top: 8px;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.4s ease;
}

.dashboard-sidebar #sidebar-menu-icon:hover {
    color: #11101d;
    background: #fff;
    transition: all 0.4s ease;
}

.dashboard-sidebar.active #sidebar-menu-icon {
    left: 90%;
}

.dashboard-sidebar.active input {
    padding: 1.3em 0;
    width: 75%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #3c3744;
    padding-left: 4em;
    color: #fff;
    text-align: left;
    opacity: 1;
}

.dashboard-sidebar input {
    opacity: 0;
}

.dashboard-sidebar .search-input {
    width: 100%;
    height: 40px;
}

.dashboard-sidebar #dashboard-search-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    left: 0px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    height: 50px;
    border-radius: 12px;
    min-width: 50px;
}

.dashboard-sidebar #dashboard-search-icon:hover {
    color: #11101d;
    background: #fff;
    transition: all 0.4s ease;
}

.dashboard-sidebar.active #dashboard-search-icon:hover {
    background: transparent;
}

@media (min-width: 85em) {
    .dashboard-sidebar #dashboard-search-icon {
        font-size: 2rem;
    }
}

.dashboard-sidebar ul {
    margin: 0.8em 0 0 0;
    text-align: left;
    padding: 0;
    width: 100%;
}

.dashboard-sidebar ul li {
    position: relative;
    margin: 0;
    height: 65px;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;
    list-style: none;
    padding: 0;
    display: block;
}

.dashboard-sidebar.active ul li .dashboard-tooltip {
    display: none;
}

.dashboard-sidebar ul li .dashboard-tooltip {
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    height: 35px;
    width: 152px;
    top: 35%;
    transform: translateY(-50%);
    border-radius: 6px;
    left: 60px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    display: block;
}

.dashboard-sidebar ul li .dashboard-tooltip:hover {
    opacity: 1;
}

.dashboard-sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.dashboard-sidebar.active ul li a:hover {
    opacity: 1;
    color: #11101d;
    background: #fff;
}

.dashboard-sidebar ul li a:active {
    opacity: 1;
    color: #11101d;
    background: #fff;
}

.dashboard-sidebar.active ul li a:active {
    opacity: 1;
    color: #11101d;
    background: #fff;
}

.dashboard-sidebar ul li a i {
    height: 30px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 30px;
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 85em) {
    .dashboard-sidebar ul li a i {
        height: 50px;
        line-height: 50px;
        font-size: 2.5rem;
    }
    .dashboard-sidebar ul li a {
        align-items: flex-end;
        font-size: 1.3rem;
    }
    .dashboard-sidebar ul li {
        height: 75px;
    }
}

.dashboard-sidebar ul li a i:hover {
    color: #11101d;
    background: #fff;
    transition: all 0.4s ease;
}

.dashboard-sidebar .sidebar-list-names {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.dashboard-sidebar.active .sidebar-list-names {
    opacity: 1;
    pointer-events: auto;
}

.dashboard-sidebar .profile-content {
    position: absolute;
    color: #fff;
    bottom: 30px;
    left: 0;
    width: 100%;
    margin-left: 2.3em;
}

.dashboard-sidebar .profile-content .profile {
    position: relative;
    height: 80px;
    width: 100%;
}

.dashboard-sidebar .profile .profile-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    width: 100%;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.dashboard-sidebar .profile .profile-details .profile-name {
    display: none;
}

.dashboard-sidebar.active .profile .profile-details .profile-name {
    display: block;
}

.dashboard-sidebar.active .profile .profile-details {
    opacity: 1;
    pointer-events: auto;
}

.dashboard-sidebar .profile .profile-details i {
    font-weight: 500;
}

#dashboard-logout {
    cursor: pointer;
    font-size: 1rem;
}

#sidebar-logout {
    padding-bottom: 0.3em;
}

@media (min-width: 85em) {
    #dashboard-logout {
        font-size: 2rem;
    }
    .dashboard-sidebar .profile .profile-details {
        font-size: 1.3rem;
    }
    .dashboard-sidebar .profile-content {
        margin-left: 1.7em;
    }
}

.dashboard-sidebar.active #dashboard-logout {
    margin: 0;
}

.dashboard-sidebar .profile .profile-details .dashboard-logout-button a {
    text-decoration: none;
    color: #fff;
}

.dashboard-sidebar .profile .profile-details .dashboard-logout-button {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
}

.home-content {
    position: absolute;
    width: calc(100% - 90px);
    left: 90px;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

.dashboard-sidebar.active ~ .home-content {
    width: calc(100% - 310px);
    left: 310px;
}

.home-content .home-text{
    width: 60%;
    margin: 0 auto;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #F76C6C;
}

@media (max-width: 600px) {
    .dashboard-sidebar {
        display: none;
    }
    .dashboard-sidebar.active {
        display: block;
    }
    .home-content {
        position: absolute;
        width: calc(100% - 1px);
        left: 1px;
        margin: 0;
        padding: 0;
        transition: all 0.5s ease;
    }
    .dashboard-sidebar.active ~ .home-content .newform-body form .newform-input-container i {
        position: absolute;
        font-size: 1.2rem;
        top: 65px;
        font-weight: 400;
    }
}

#sidebar-menu-icon-first {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    z-index: 9999;
}

/* New Form Styling */

.newform-html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.newform-main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #F6F6F6;
}

.home-content .newform-body {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background: white;
}

.home-content .newform-body form .newform-input {
    text-align: left;
    padding: 0.3em 0;
    text-indent: 1rem;
    margin-bottom: 1em;
    border: 0.11rem solid #8C9196;
    font-family: 'Open Sans', sans-serif;
    width: 95%;
    font-size: 1rem;
    font-weight: 400;
}

.home-content .newform-body form .newform-label {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.home-content .newform-body form .newform-input-container {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.home-content .newform-body form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3em;
    row-gap: 0.3em;
    padding: 0 1.5em;
}

.home-content .newform-body form .newform-input-container i {
    position: absolute;
    font-size: 1.2rem;
    top: 44px;
    font-weight: 400;
}

@media (min-width: 1000px) {
    .home-content .newform-body form {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home-content .newform-body h2 {
        margin-bottom: 1.4em;
        grid-column: 1;
        text-align: left;
    }
    .home-content .newform-body form .newform-button {
        grid-column: 3;
        text-align: right;
    }
}

@media (min-width: 1000px) {
    .home-content .newform-body {
        width: 60%;
    }
    .home-content .newform-body form .newform-input {
        width: 100%;
    }
}

.home-content h2 { 
    color: #fff;
    padding: 0.6em;
    font-weight: 500;
    font-size: 2rem;
    background-color: #212529;
}

.home-content .newform-body form input:focus {
    outline: none;
    border: 2px solid #F76C6C;
}

.home-content .newform-body form input[type="submit"] {
    background: #F76C6C;
    border-radius: 30px;
    box-shadow: #F76C6C 0 10px 20px -10px;
    color: #fff;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    padding: 0.7em 3.5em 0.7em 3.5em;
    margin-bottom: 2em;
}


/* Mydeals / PendingDeals Styling */

.mydeals-html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

.mydeals-body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #F6F6F6;
    overflow-x: scroll;
}

.pendingdeals-html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.pendingdeals-body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #F6F6F6;
    overflow-x: scroll;
}

.fixed-icon {
    position: fixed;
}

.table-content {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.table-header {
    color: #fff;
    background-color: #212529;
}

.table-content #table-status {
    background-color: #fffc3a;
    font-weight: 600;
    pointer-events: auto;
    cursor: pointer;
}

.active-list-link {
    background-color: #3c3744;
}

.table-edit-button {
    text-decoration: none;
    text-align: center;
}

.bx-edit {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}